{% extends 'listar.html' %}

{% block columnas %}
<tr>
    <th scope="col">id</th>
    <th scope="col">Cliente</th>
    <th scope="col">Documento</th>
    <th scope="col"># documento</th>
    <th scope="col">Email</th>
    <th scope="col">Prefijo</th>
    <th scope="col">Teléfono</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
    {% for c in object_list %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.nombre }}</td>
        <td>{{ c.tipo_documento }}</td>
        <td>{{ c.numero_documento }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.pais_telefono }}</td>
        <td>{{ c.telefono }}</td>
        <td>
            <a href="{% url 'app:cliente_editar' c.id %}" class="btn btn-info btn-sm">
                <i class="fas fa-edit"></i>
            </a>
            <a href="{% url 'app:cliente_eliminar' c.id %}" class="btn btn-danger btn-sm">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
 {% endblock %}
