{% extends 'listar.html' %}

{% block columnas %}
<tr>
    <th scope="col">id</th>
    <th scope="col">Presentacion</a></th>
    <th scope="col">Estado</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
    {% for p in object_list %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.presentacion }} {{ p.get_unidad_medida_display }}</td>
        <td>{{ p.estado | yesno:"Activo,Inactivo" }}</td>
        <td>
            <a href="{% url 'app:presentacion_editar' p.id %}" class="btn btn-info btn-sm">
                <i class="fas fa-edit"></i>
            </a>
            <a href="{% url 'app:presentacion_eliminar' p.id %}" class="btn btn-danger btn-sm">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
 {% endblock %}
