{% extends 'listar.html' %}

{% block columnas %}
<tr>
    <th scope="col">id</th>
    <th scope="col">Fecha</th> 
    <th scope="col">Total</th>
    <th scope="col">Dinero ingresado</th>
    <th scope="col">Cambio</th>
    <th scope="col">Metodo de pago</th>
</tr>
{% endblock %}

{% block filas %}
    {% for v in object_list %}
    <tr>
        <td>{{ v.id }}</td>
        <td>{{ v.fecha_venta }}</td>
        <td>{{ v.total_venta }}</td>
        <td>{{ v.dinero_recibido }}</td>
        <td>{{ v.cambio }}</td>
        <td>{{ v.metodo_pago }}</td>
    </tr>
    {% endfor %}
{% endblock %}
{% block javascript %}
<script type="application/javascript">
    $(document).ready(function () {
        $("#tabla").DataTable({
            responsive: true,
            initComplete: function () {
                var api = this.api();
                var columnNames = ['id', 'Fecha', 'Total', 'Dinero ingresado', 'Cambio', 'Metodo de pago'];
                var excludedColumnIndex = columnNames.indexOf('Opciones');
                api.columns().every(function (index) {
                    var column = this;
                    var header = $(column.header());
                    if (index !== excludedColumnIndex) {
                        var filterContainer = $('<div class="filter-container"></div>').appendTo(header.empty());
                        $('<label>' + columnNames[index] + '</label>').appendTo(filterContainer);
                        var select = $('<select><option value="">Todos</option></select>')
                            .appendTo(filterContainer)
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex($(this).val());
                                column
                                    .search(val ? val : '', true, false)
                                    .draw();
                            });

                        if (index === 1) {
                            var fechasUnicas = new Set();
                            column.data().sort().each(function (d, j) {
                                var fecha = d.split(' a las ')[0];
                                fechasUnicas.add(fecha);
                            });

                            fechasUnicas.forEach(function (fecha) {
                                select.append('<option value="' + fecha + '">' + fecha + '</option>');
                            });
                        } else {
                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>');
                            });
                        }
                    } else {
                        $('<label>' + columnNames[index] + '</label>').appendTo(header.empty());
                    }
                });
            }
        });
    });
</script>
 {% endblock %}

