{% extends 'listar.html' %}

{% block columnas %}
<tr>
    <th scope="col">id</th>
    <th scope="col">Fecha</th> 
    <th scope="col">Metodo de pago</th>
    <th scope="col">Detalle de venta</th>
</tr>
{% endblock %}

{% block filas %}
    {% for v in object_list %}
    <tr>
        <td>{{ v.id }}</td>
        <td>{{ v.fecha_venta }}</td>
        <td>{{ v.metodo_pago }}</td>
        <td>
            <button id="detalle-venta-{{ v.id }}" type="button" data-toggle="modal" data-target="#modal-{{v.id}}">
                <i class="fas fa-search"></i>
            </button>
            <div class="modal fade" id="modal-{{ v.id }}" tabindex="-1" role="dialog" aria-labelledby="ventaModalLabel-{{ v.id }}" aria-hidden="true">
                <div class="modal-dialog modal-sm modal-dialog-centered modal-fullscreen" style="margin:auto;" role="document">   
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ventaModalLabel-{{ v.id }}">Detalles de Venta #{{ v.id }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Fecha de Venta: {{ v.fecha_venta }}</p>
                            <p>Total Venta: {{ v.total_venta }}</p>
                            <p>Dinero Recibido: {{ v.dinero_recibido }}</p>
                            <p>Cambio: {{ v.cambio }}</p>
                            <p>Método de Pago: {{ v.metodo_pago }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
{% block javascript %}
<script type="application/javascript">
    $(document).ready(function () {
        $("#tabla").DataTable({
            responsive: true,
            initComplete: function () {
                var api = this.api();
                var columnNames = ['id', 'Fecha', 'Total', 'Dinero ingresado', 'Cambio', 'Metodo de pago'];
                var excludedColumnIndex = columnNames.indexOf('Opciones');
                api.columns().every(function (index) {
                    var column = this;
                    var header = $(column.header());
                    if (index !== excludedColumnIndex) {
                        var filterContainer = $('<div class="filter-container"></div>').appendTo(header.empty());
                        $('<label>' + columnNames[index] + '</label>').appendTo(filterContainer);
                        var select = $('<select><option value="">Todos</option></select>')
                            .appendTo(filterContainer)
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex($(this).val());
                                column
                                    .search(val ? val : '', true, false)
                                    .draw();
                            });

                        if (index === 1) {
                            var fechasUnicas = new Set();
                            column.data().sort().each(function (d, j) {
                                var fecha = d.split(' a las ')[0];
                                fechasUnicas.add(fecha);
                            });

                            fechasUnicas.forEach(function (fecha) {
                                select.append('<option value="' + fecha + '">' + fecha + '</option>');
                            });
                        } else {
                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>');
                            });
                        }
                    } else {
                        $('<label>' + columnNames[index] + '</label>').appendTo(header.empty());
                    }
                });
            }
        });
    });
</script>
 {% endblock %}

