{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Restablecer contraseña</title>
    <link href="{% static 'img/icon.png' %}" rel="icon">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/font-awesome-5.11.1/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/css/adminlte.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="{% url 'index' %}"><img src="{% static 'img/logo_asuan1.png' %}" alt="Asuán"></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Restablecer contraseña</p>
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {{ form.email | add_class:'form-control' | attr:'autocomplete:off' | attr:'placeholder:Ingrese su correo electrónico' }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope" style="color: white;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'lib/adminlte-3.0.4/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.0.4/js/adminlte.min.js' %}"></script>
</body>

</html>