{% extends 'listar.html' %}

{% block columnas %}
<tr>
    <th scope="col">id</th>
    <th scope="col">Categoria</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
    {% for c in object_list %}
    <tr>
        <td>{{c.id}}</td>
        <td>{{c.categoria}}</td>
        <td>
            <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
        </td>
    </tr>
    {% endfor %}
 {% endblock %}
