{% load static %}
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <a href="#" class="brand-link">
        <img src="{% static 'img/logo_asuan1.png' %}" alt="Logo Asuán" class="">
        <img src="{% static 'img/logoSena.png' %}" alt="Logo SENA" class="">
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <h1>Módulos</h1>
                <li class="nav-item"><a href="{% url 'app:categoria_lista' %}" class="nav-link"><i class="nav-icon fas fa-tag"></i><p>Categorías</p></a></li>
                <li class="nav-item"><a href="{% url 'app:marca_lista' %}" class="nav-link"><i class="nav-icon fas fa-project-diagram"></i><p>Marcas</p></a></li>
                <li class="nav-item"><a href="{% url 'app:presentacion_lista' %}" class="nav-link"><i class="nav-icon fas fa-shapes"></i><p>Presentaciones</p></a></li>
                <li class="nav-item"><a href="{% url 'app:producto_lista' %}" class="nav-link"><i class="nav-icon fas fa-dolly"></i><p>Productos</p></a></li>
                <li class="nav-item"><a href="{% url 'app:mesero_lista' %}" class="nav-link"><i class="nav-icon fas fa-user-friends"></i><p>Meseros</p></a></li>
                <li class="nav-item"><a href="{% url 'app:cliente_lista' %}" class="nav-link"><i class="nav-icon fas fa-users"></i><p>Clientes</p></a></li>
                <li class="nav-item"><a href="{% url 'app:plato_lista' %}" class="nav-link"><i class="nav-icon fas fa-hamburger"></i><p>Platos</p></a></li>
                <li class="nav-item"><a href="{% url 'app:venta_lista' %}" class="nav-link"><i class="nav-icon fas fa-shopping-cart"></i><p>Ventas</p></a></li>
                <li class="nav-item"><a href="{% url 'app:cuenta_lista' %}" class="nav-link"><i class="nav-icon fas fa-file-invoice"></i><p>Cuentas</p></a></li>
                <li class="nav-item"><a href="{% url 'app:factura_lista' %}" class="nav-link"><i class="nav-icon fas fa-file-invoice-dollar"></i><p>Facturas</p></a></li>
                <li class="nav-item"><a href="{% url 'app:administrador_lista' %}" class="nav-link"><i class="nav-icon fas fa-user-shield"></i><p>Administrador</p></a></li>
                <li class="nav-item"><a href="{% url 'app:operador_lista' %}" class="nav-link"><i class="nav-icon fas fa-user-alt"></i><p>Operador</p></a></li>
            </ul>
        </nav>
    </div>
</aside>

