{% extends 'layout.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block contenido %}
<div class="containerBackup">
    <div class="containerTitle">
        <h1>Administración de copias de <br>seguridad de la base de datos</h1>
        <img class="img_db" src="{% static 'img/db_logo.png' %}" alt="Logo database"
            style="height: 220px; width: 290px;">
    </div>
    <div class="backup-section">
        <div class="generate-section">
            <h2>Crear copia de seguridad</h2>
            <form id="backupForm" method="post" action="{% url 'app:crear_backup' %}">
                {% csrf_token %}
                <button class="btn_generate" type="submit">Crear</button>
            </form>
        </div>
        <div class="restore-section">
            <h2>Restaurar copia de seguridad</h2>
            <form id="restoreForm" method="post" action="{% url 'app:restaurar_backup' %}"
                enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="backup_file" accept=".sql, .db, .sqlite, .bak" required>
                <p></p><button class="btn_restore" type="submit">Restaurar</button>
            </form>
        </div>
    </div>
</div>

<script>
    $('#backupForm').on('submit', function (event) {
        event.preventDefault();
        $.post($(this).attr('action'), $(this).serialize(), function (data) {
            if (data.success) {
                Swal.fire({
                    icon: 'success',
                    title: 'Copia de seguridad creada correctamente',
                    text: data.message,
                    confirmButtonText: 'Aceptar'
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: data.message,
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    });

    $('#restoreForm').on('submit', function (event) {
        event.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Copia de seguridad restaurada correctamente',
                        text: data.message,
                        confirmButtonText: 'Aceptar'
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.message,
                        confirmButtonText: 'Aceptar'
                    });
                }
            }
        });
    });
</script>
{% endblock %}